@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$bg: #2A3136;
$text-color: #88949D;
$accent-color: #00E4AC;

body, html {
    height: 100%;
}

body{
    background: $bg;
    color: $text-color;
    font-family: 'Raleway';
}

a {
    color: #fff;
}

a:hover{
    color: $accent-color;
}

.cta-btn, .cta-btn:visited {
    color: $accent-color;
    border: 1px solid $accent-color;
    padding: 5px 12px;
    float: right;
    border-radius: 5px;
}

.cta-btn:hover{
    background-color: $accent-color;
    color: $bg;
}

h1 {
    font-family: 'Raleway';
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.2em;
    line-height: 1.2em;
}

.body-blur {
    background: $bg url(/assets/images/blurbg.jpg) no-repeat top center !important;
    background-size: 90%;
    height: 100%;
}

.circle {
    fill: $accent-color;
}

.arrow {
    fill: $bg;
}

#group {
    cursor: pointer;
}

#group:hover .circle {
    animation: animationCircle .5s forwards;
    -webkit-animation: animationCircle .5s forwards;
    -moz-animation: animationCircle .5s forwards;
}

#group:hover .arrow{
    fill: $accent-color;
}

@keyframes animationCircle {
    0% {
        fill: $accent-color;
    }
    100% {
        fill: $bg;
    }
}
